{% extends "dashboard/base.html" %}

{% block title %}GymApp - {{ exercise.name }}{% endblock %}

{% block content %}
    <div class="inner">
        <h1>{{ exercise.name }}</h1>
        <p><strong>Body Part(s):</strong>
            {% for part in exercise.body_part.all %}
                {{ part.name }}{% if not forloop.last %}, {% endif %}
            {% endfor %}
        </p>
        <p><strong>Visibility:</strong>
            {% if exercise.public %}
                Public
            {% else %}
                You
            {% endif %}
        </p>
        <label>
            <a href="{% url 'exercises' %}" class='button fit'> Back </a>
        </label>
        {% if exercise.user == request.user %}
            <label>
                <a href="{% url 'exercise_edit' exercise.id %}" class='button fit'>Edit Exercise</a>
            </label>
            <label>
                                <a href="{% url 'delete_exercise' exercise.pk %}" class="button fit">Delete</a>

            </label>
            
        {% endif %}

    </div>
{% endblock %}
