{% extends "dashboard/landing_page.html" %}

{% block title %}GymApp - Login{% endblock %}

{% block content %}
    <section id="Login">
        <div class="inner">
            <header class="major">
                <h1>LOGIN</h1>
            </header>

            <!-- Form -->
            {% if form.non_field_errors %}
                <div class="error">
                    <h4>{{ form.non_field_errors }}</h4>
                </div>
            {% endif %}

            <form method="post" action="{% url 'login' %}">
                {% csrf_token %}
                <div class="row gtr-uniform">
                    <div class="col-6 col-12-xsmall">
                        {{ form.username }}
                    </div>
                    <div class="col-6 col-12-xsmall">
                        {{ form.password }}
                    </div>
                    <!-- Break -->
                    <div class="col-12">
                        <ul class="actions">
                            <li><input type="submit" value="Login" class="primary"/></li>
                            <li><input type="button" value="Sign up"
                                       onclick="window.location.href='{% url 'register' %}'"/>
                            </li>
                        </ul>
                    </div>
                </div>
            </form>
        </div>
    </section>
{% endblock %}