{% extends "dashboard/auth_base.html" %}
{% block title %}GymApp - Register{% endblock %}
{% block content %}
    <section id="one">
        <div class="inner">
            <header class="major">
                <h1>Register</h1>
            </header>

            <!-- Form -->
            {% if form.non_field_errors %}
                <div class="error">
                    <h4>{{ form.non_field_errors }}</h4>
                </div>
            {% endif %}

            <form method="post" action="{% url 'register' %}">
                {% csrf_token %}
                {% for field in form %}
                    <div class="form-group">
                        {{ field.label_tag }}
                        {{ field }}
                        {% if field.errors %}
                            <div class="alert alert-danger">
                                {{ field.errors }}
                            </div>
                        {% endif %}
                    </div>
                    <br>
                {% endfor %}
                <!-- Break -->
                <div class="col-12">
                    <ul class="actions">
                        <li><input type="submit" value="Sign up" class="primary"/></li>
                        <li><input type="button" value="Login" onclick="window.location.href='{% url 'login' %}'"/>
                        </li>
                    </ul>
                </div>
            </form>
        </div>
    </section>
{% endblock %}
