{% extends "dashboard/base.html" %}

{% block title %}GymApp - Edit {{ training_plan.name }}{% endblock %}

{% block content %}
    <div class="inner">
        <h1>Edit Training Plan</h1>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}


            <label>
                <a href="{% url 'exercises' %}" class="button fit">Add Exercise</a>
            </label>

            <label>
                <button type="submit" class="button fit">Save Changes</button>
            </label>
        </form>
        <label>
            <a href="{% url 'training_plan_detail' training_plan.pk %}" class='button fit'>Cancel</a>
        </label>
        {% if selected_exercises %}
    <h2>Selected Exercises</h2>
    <table>
        <thead>
            <tr>
                <th>Exercise</th>
                <th>Sets</th>
                <th>Repetitions</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for exercise in selected_exercises %}
            <tr>
                <td>{{ exercise.name }}</td>
                <td>{{ exercise.sets }}</td>
                <td>{{ exercise.repetitions }}</td>
                <td>
                    <form method="POST" action="{% url 'remove_exercise' exercise.id %}">
                        {% csrf_token %}
                        <button type="submit" class="button small">Remove</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
    </div>
{% endblock %}
