{% extends "dashboard/base.html" %}

{% block title %}GymApp - Edit {{ training_plan.name }}{% endblock %}

{% block content %}
    <div class="inner">
        <h1>Edit Training Plan</h1>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <label>
                <button type="submit" class="button fit">Save Changes</button>
            </label>
        </form>
        <label>
            <a href="{% url 'training_plan_detail' training_plan.pk %}" class='button fit'>Cancel</a>
        </label>
    </div>
{% endblock %}
