{% extends "dashboard/base.html" %}
{% block title %}GymApp - {{ training_plan.name }}{% endblock %}

{% block content %}
    <div class="inner">
        <h2>{{ training_plan.name }}</h2>
        <ul>
            <li>
                <strong>Last Training:</strong> {{ training_plan.last_training|default:"-" }}
            </li>
            <li>
                <strong>Exercises:</strong>
                {% if training_plan.exercises_info.all %}
                    <ul>
                        {% for exercise_info in exercises_info %}
                            <li>
                                {{ exercise_info.exercise.name }} - Series: {{ exercise_info.series }}, Reps: {{ exercise_info.reps }}
                            </li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <p>No exercises added to this training plan yet.</p>
                {% endif %}
            </li>
        </ul>
    <label>
        <a href="{% url 'training_plan_active' training_plan.pk %}" class="button fit">Start</a>
    </label>
        <label>
            <a href="{% url 'training_plan_edit' training_plan.pk %}" class='button fit'> Edit </a>
        </label>
        <label>
            <a href="{% url 'training_plans' %}" class='button fit'> Back </a>
        </label>
    </div>
{% endblock %}
